extends layout

block content

	div#signin
		h1 新用户注册
		div#alert #{error}
		form#form(action="/regist" method="post")
			div#username.input 用户名: 
				input(type="text", name="username" placeholder='用户名 6~18位' value=user.username)
			div#nameWrong.wrong
			div#password.input 密码: 
				input(type="password", name="password" placeholder='密码 6~12位' value=user.password)
			div#passwordWrong.wrong
			div#repeatPassword.input 重复密码: 
				input(type="password", name="repeatPassword" placeholder='再次输入密码', value=user.repeatPassword)
			div#repeatWrong.wrong
			div#studentId.input 学号: 
				input(type="text", name="studentId" placeholder='学号8位数字，不能以0开头', value=user.studentId)
			div#idWrong.wrong
			div#phone.input 手机: 
				input(type="text", name="phone" placeholder='电话11位数字，不能以0开头' value=user.phone)
			div#phoneWrong.wrong
			div#email.input 邮箱: 
				input(type="text", name="email" placeholder='邮箱' value=user.email)
			div#emailWrong.wrong
			input#submit.button(type="submit" value="注册")
			input#reset.button(type="reset" value="重置")
			a#signup(href="/signin") 已有账号？登录
	script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js")
	script(type="text/javascript" src="/javascripts/validator.js")
	script(type="text/javascript" src="/javascripts/signup.js")
	link(rel="stylesheet" type="text/css" href="/stylesheets/signup.css")
	link(link rel="icon" sizes="196x196" href="/images/favicon.png")